@font-face {
  src: url(Inter-Regular.ttf);
  font-family: Inter-Regular;
}

@font-face {
  src: url(Inter-Light.ttf);
  font-family: Inter-Light;
}

@font-face {
  src: url(Inter-ExtraLight.ttf);
  font-family: Inter-ExtraLight;
}

@font-face {
  src: url(Inter-Medium.ttf);
  font-family: Inter-Medium;
}

@font-face {
  src: url(Merriweather-BoldItalic.ttf);
  font-family: BoldItalic;
}

@font-face {
  src: url(Merriweather-LightItalic.ttf);
  font-family: LightItalic;
}

@font-face {
  src: url(Merriweather-BlackItalic.ttf);
  font-family: BlackItalic;
}

@font-face {
  src: url(Merriweather-Bold.ttf);
  font-family: MBold;
}

@font-face {
  src: url(Merriweather-Light.ttf);
  font-family: MLight;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  background-color: #111411;
  width: 100%;
}

/* progress indicator */
.progressbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px 10px rgba(46,46,46,.5);;
  z-index: 1000;
}

.progressContainer {
  /* ending bar width */
  width: 100%;
  /* bar color for parts before progress is made */
  background: rgb(20,20,20);
}

.progressMade {
  /* bar height */
  height: 8px;
  /* progress bar color */
  background: linear-gradient(234deg, #90eaae, #90eae5, #90eaae, #90eae5);
  /* initial bar width */
  width: 0%;
}

.css-selector {
    background: linear-gradient(234deg, #90eaae, #90eae5, #90eaae, #90eae5);
    background-size: 300% 300%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    height: 5em;
    width: 100%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.mouse-cursor-gradient-tracking {
  position: relative;
  /* background: #7983ff; */
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  outline: none;
  overflow: hidden;
  z-index: 1000;
}

.mouse-cursor-gradient-tracking:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(0,0,0,0), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.mouse-cursor-gradient-tracking:hover:before {
  --size: 75em;
}

.whole {
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 3em;
  padding-right: 4em;
  padding-top: 4vh;
  height: 3em;
}

.name a:link {
  font-family: Inter-Medium;
  font-size: .6em;
}

.sections {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.header a {
  text-decoration: none;
}

.header a:link {
  color: #272b2b;
  transition: 1s;
}

.sections a:link {
  font-family: Inter-Light;
  font-size: .5em;
  transition: 1s;
  color: #272b2b;
}

.header a:visited {
  color: #272b2b;
}

.header {
  color: #272b2b;
  position: relative;
}

#currentPage {
  text-decoration: underline;
  color: #272b2b;
}

.header a:hover {
  font-size: .65em;
}

.sections a:hover {
  font-size: .55em;
}

.projects {
  /* margin-top: 1em; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.indiv {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.projects h1 {
  /* grid-column: 1; */
  color: #272b2b;
  font-size: 1.8em;
  font-family: Inter-Light;
  background: linear-gradient(234deg, #75bf8e, #76c2be, #75bf8e, #76c2be);
}

.overlay {
  position: absolute;
  height: 30vw;
  width: 49.5vw;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 0.2em; */
}

.text {
  color: #f0f7f7;
  font-family: MBold;
  font-size: 1.5em;
}

#playthegame img {
  height: 101%;
  transition: .5s ease;
}

#playthegame:hover .overlay {
  opacity: 1;
}

#playthegame:hover img{
  transform: scale(1.1);
}

#imitationgame img {
  height: 100%;
  transition: .5s ease;
}

#imitationgame:hover .overlay {
  opacity: 1;
}

#imitationgame:hover img{
  transform: scale(1.1);
}

#domesticviolenceawareness img {
  height: 100%;
  transition: .5s ease;
}

#domesticviolenceawareness:hover .overlay {
  opacity: 1;
}

#domesticviolenceawareness:hover img{
  transform: scale(1.1);
}

#designrecreation img {
  width: 100%;
  transition: .5s ease;
}

#designrecreation:hover .overlay {
  opacity: 1;
}

#designrecreation:hover img{
  transform: scale(1.1);
}

#faceclock {
  /* height: 49vw; */
}

#faceclock:hover .overlay {
  opacity: 1;
}

#faceclock:hover iframe{
  transform: scale(1.45) translate(5.3em, 5.3em);
}

iframe {
  transform: scale(1.35) translate(5.3em, 5.3em);
  transition: .5s ease;
}

#lostandfound:hover .overlay {
  opacity: 1;
}

#lostandfound img {
  width: 100%;
  transition: .5s ease;
}

#lostandfound:hover img{
  transform: scale(1.1);
}

.footer {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.footer .designedBy {
  /* padding-right: 10vw; */
}

.footer .contact {
  padding-left: 15vw;
  padding-right: 15vw;
}

.footer h6:first-child {
  font-family: MBold;
}

.footer h6:nth-child(2) {
  font-family: Inter-Light;
}

#linkedIn:link h6 {
  font-family: Inter-Light;
  text-decoration: none;
  color: black;
}

#linkedIn:visited {
  font-family: Inter-Light;
  text-decoration: none;
  color: black;
}
